#!/usr/bin/make -f

export DH_VERBOSE=1

SHELL := sh -e

DESTDIR := $(CURDIR)/debian/rjil-cicd
PROJECTS := $(filter-out debian, $(wildcard *))
UPSTART_JOBS := $(wildcard debian/*.upstart)
SERVERS := $(subst .upstart,,$(subst debian/,,$(UPSTART_JOBS)))

# Override upstream's pbr based packaging
export PBR_VERSION=2014.2
export SKIP_PIP_INSTALL=1
export SKIP_GIT_SDIST=1
export SKIP_GENERATE_AUTHORS=1
export SKIP_WRITE_GIT_CHANGELOG=1


%: debian/control
	dh $@ --with python2

override_dh_auto_clean:
	for PROJ in $(PROJECTS); \
	do \
		cd $${PROJ} && dh_auto_clean && cd ..; \
	done

override_dh_auto_build:
	for PROJ in $(PROJECTS); \
	do \
		cd $${PROJ} && dh_auto_build && cd ..; \
	done

override_dh_auto_install:
	for PROJ in $(PROJECTS); \
	do \
		cd $${PROJ} && dh_auto_install && cd ..; \
	done

debian/control: debian/control.stub debian/control.tmpl $(UPSTART_JOBS)
	cp debian/control.stub debian/control
	for s in $(SERVERS); do \
		sed -e s@PKGNAME@$$s@g < debian/control.tmpl >> debian/control ; \
	done
